/*------------- Breakpoints mixin*/
/*------------- Heading mixins*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
/*---------------Mixins for transforms, transitions and animations*/
/*Mixin for animation on contact page*/
/*Mixin for hide & show*/
h1, h2, h3, p, a, button, input {
  color: #EA3C53;
  font-family: 'Amiko', sans-serif; }

.hero-h1 {
  font-size: 2em;
  margin: 0; }

html {
  width: 100%; }

body {
  background: #E0E0E2;
  height: 200em;
  width: 100%; }

.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background: #E0E0E2;
  height: auto;
  width: 100%; }
  header h1 {
    margin: 0 0 0 2em; }

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.hero-section {
  background: url("../images/Bakgrund.jpg");
  background-size: cover;
  height: 93vh; }

.training-module {
  width: 100%; }
  .training-module form {
    width: 100;
    flex-direction: column;
    height: auto;
    top: 10%;
    left: 0;
    position: absolute; }

.sub-hero {
  background: #EA3C53;
  height: 30em; }

button {
  border: none;
  height: 2.5em;
  font-size: 1em;
  margin: 1em;
  background: none;
  border: 0.1em solid #EA3C53;
  color: #EA3C53;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  button:hover {
    cursor: pointer; }

form {
  transition: all 1s ease;
  position: fixed;
  top: 10%;
  left: 0%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90vh; }
  form label {
    font-size: 1.2em;
    color: #EA3C53; }
  form input {
    width: 90%;
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
    border: none;
    height: 3em;
    font-size: 1em;
    background: #EA3C53;
    border: 0.1em solid #EA3C53;
    color: #E0E0E2; }
  form button {
    background: #EA3C53;
    width: 90%;
    border: 0.1em solid #EA3C53;
    height: 3em;
    color: #E0E0E2; }

.form-wrapper {
  width: 100%;
  height: 93vh; }

.post-card {
  height: auto;
  width: 90%;
  padding: 1em;
  margin: 1em;
  background: white; }
